{%- if include.sponsor == "organization" -%}
  <div class="logo">
    <a href="https://www.janestreet.com/">
      <img
        style="height: 2.3em"
        src="/assets/sponsor-logo/01_jane_street.png"
        alt="Jane Street"
      />
    </a>
  </div>

  <div class="logo">
    <a href="https://www.hudsonrivertrading.com/">
      <img
        style="height: 2.3em"
        src="/assets/sponsor-logo/02_hrt.png"
        alt="Hudson River Trading"
      />
    </a>
  </div>

  <div class="logo">
    <a href="https://www.mobis.com/kr/index.do">
      <img
        style="height: 1.85em"
        src="/assets/sponsor-logo/03_hyundaimobis.png"
        alt="현대모비스"
      />
    </a>
  </div>

  <div class="logo">
    <a href="https://www.citadel.com/">
      <img
        style="height: 1.85em"
        src="/assets/sponsor-logo/04_citadel_logo.png"
        alt="Citadel"
      />
    </a>
  </div>

  <div class="logo">
    <a href="https://www.moloco.com/">
      <img
        style="height: 2.3em"
        src="/assets/sponsor-logo/05_moloco.png"
        alt="Moloco"
      />
    </a>
  </div>

  <div class="logo">
    <a href="https://asteromorph.com/">
      <img
        style="width: 14em; max-width: 100%"
        src="/assets/sponsor-logo/06_asteromorph.png"
        alt="Asteromorph"
      />
    </a>
  </div>

  <div class="logo">
    <a href="https://company.nexon.com/ko/">
      <img
        style="height: 1.85em"
        src="/assets/sponsor-logo/07_nexon_korea.svg"
        alt="넥슨코리아"
      />
    </a>
  </div>

  <div class="logo">
    <a href="https://startlink.io/">
      <img
        style="height: 1.85em"
        src="/assets/sponsor-logo/08_startlink.png"
        alt="스타트링크"
      />
    </a>
  </div>
{%- elsif include.sponsor == "individual" -%}
  <div class="logo">
    <div style="height: 2.1em; font-size: 1.05em">
      <a href="https://www.acmicpc.net/user/kdh9949">김동현 (kdh9949)</a>
    </div>
  </div>

  <div class="logo">
    <div style="height: 2.1em; font-size: 1.05em">
      <a href="https://www.acmicpc.net/user/kipa00">김영현 (kipa00)</a>
    </div>
  </div>

  <div class="logo">
    <div style="height: 2.1em; font-size: 1.05em">
      <a href="https://www.acmicpc.net/user/jhnah917">나정휘 (jhnah917)</a>
    </div>
  </div>

  <div class="logo">
    <div style="height: 2.1em; font-size: 1.05em">
      <a href="https://www.acmicpc.net/user/cubic">정재호 (cubic)</a>
    </div>
  </div>
{%- endif -%}
